body > div:first-child {
    position: absolute;
    width: 900px;
    left: 0;
    top: 0;
}

li {
    background: url(../img/icons/video.png) no-repeat 0 0;
    background-size: 50px;
}

li div {
    text-align: center;
    display: none;
    position: relative;
    top: 0;
    left: 0;
    font-size: 10px;
}

div iframe {
    width: 320px;
    height: 320px;
    border: 0;
}

div span {
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    text-align: center;
    width: 320px;
    display: inline-block;
    margin-right: 5px;
}